@media screen and (max-width: 550px) {
  .sub_title {
    font-size: 24px;
    max-width: 300px;
  }
  .bistroe_odobrenie .item .bottom_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 51px;
  }
  .sub_hidden {
    font-size: 24px;
  }

  .section_8 {
    display: none;
  }
  header {
    display: none;

    .header_contacts {
      padding: 16px 20px;
    }

    .main_menu {
      padding: 0 20px;
    }

    .secondary_menu {
      padding: 0 20px;
    }
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
  }
  .section_1 {
    .benefits {
      flex-direction: column;
      gap: 50px;
      margin-bottom: 60px;
    }

    .logos {
      flex-direction: column;
    }

    .wrapper {
      flex-direction: column-reverse;

      .img {
        width: 300px;

        img {
          width: 300px;
        }
      }

      .info {
        .form {
          flex-direction: column;
        }

        .title {
          text-align: center;
          font-size: 20px;
          width: 279px;

          br {
            display: none;
          }
        }

        p {
          text-align: center;
          width: 279px;
        }
      }
    }
  }
  .section_2 {
    .item {
      img {
        width: 300px;
      }
      .info {
        .benefits_1{
          top: -108px;
          left: 13px;
        }
        .btn-default {
          width: 100%;
          justify-content: center;
          img {
            width: 20px;
          }
        }
        .spisok {
          .item_spisok {
            img {
              width: 20px;
            }
          }
        }
        .benefits_cards_1 {
          position: absolute;
          width: 271px;
          left: 19px;
          top: -110px;
        }

        .benefits_cards {
          position: absolute;
          width: 271px;
          top: -115px;
          right: 15px;
        }

        .mdi_shield-car {
          display: none;
        }

        .folder_house_2 {
          display: none;
        }

        .folder_house {
          display: none;
        }
      }

      flex-direction: column;
      gap: 30px;

      .sub_title {
        display: none;
      }

      .sub_hidden {
        display: block;
        text-align: start;
        width: 100%;
      }
    }

    .item_right {
      flex-direction: column-reverse;
    }
  }
  .section_3 {
    .steps {
      flex-direction: column;
      align-items: center;
      gap: 50px;

      .line {
        display: none;
      }
    }
  }
  .mar_b{
    margin-bottom: 650px;
  }
  .section_4 {
    margin-bottom: 620px;
    background-image: none;
    .calculator {
      padding: 40px 30px;

      .wrapper_items {
        flex-direction: column;
        gap: 71px;

        .item {
          .wrapper {
            width: 100%;

            datalist {
              width: 100%;

              .option_hide {
                display: none;
              }
            }
          }

          .wrapper_1 {
            width: 100%;

            datalist {
              width: 100%;

              .option_hide {
                display: none;
              }
            }
          }
        }
      }

      .predlojeniya {
        .soglasie {
          width: 239px;

          div {
            font-size: 11px;
            text-align: right;
          }
        }

        display: flex;
        flex-direction: column;

        .wrapper {
          flex-direction: column;

          .item {
            margin-top: 27px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            form {
              .number_input {
                margin: 0;
              }
            }

            .btn {
              margin: 0;

              span {
                width: 150px;
              }
            }
          }

          .info {
            flex-direction: column;
            align-items: start;
            gap: 30px;

            .item {
              align-items: start;
            }
          }
        }
      }
    }
    .predvaritel {
      margin-left: 0;
      span {
        width: 300px;
        font-size: 16px;
      }
    }
  }
  .mb_0{
    margin: 0;
  }
  .section_6 {
    .about_us {
      padding: 30px 20px;
      border-radius: 30px;

      .sub_title {
        font-size: 24px;
        text-align: start;
      }

      .text {
        padding: 0;

        p {
          font-size: 16px;
          text-align: start;
        }
      }

      .items {
        flex-direction: column;
        .item {
          .top {
            span {
              font-size: 18px;
            }
          }

          p {
            font-size: 16px;
            width: 239px;
          }
        }
      }
    }
  }
  .section_7 {
    .container{
      .wrapper{
        align-items: flex-start;
      }
    }
    .item {
      .top {
        flex-direction: column;
        align-items: start;
      }

      .wrapper {
        flex-direction: column;

        .left {
          padding: 20px;
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          .btn-default {
            position: inherit;
            top: 0;
            left: 0;
            justify-content: center;
            width: 256px;
            span {
              font-size: 16px;
              min-width: 188px;
            }
          }

          p {
            width: 100%;
          }
        }
      }
    }
  }
  .footer {
    margin-top: 50px;
    .item {
      .top {
        flex-direction: column;

        .links {
          margin-top: 50px;
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }
      }

      .middle {
        .info_left {
          .item_phone {
            margin-left: 28px;
          }
        }
        .info_right {
          margin-top: 20px;
        }
        .wrapper {
          flex-direction: column;

          .info_left {
            flex-direction: column;
            gap: 30px;
            align-items: center;
          }
        }
      }

      .bottom {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        span {
          width: 300px;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
  .fin-support {
    .last {
      .btn {
        span {
          width: 146px;
        }
      }
    }
  }
  .section_message_mobile {
    display: block;
  }
  .adaptiv_header {
    display: block;
  }

  // vigdn credit-------------------------

  .main-section {
    .content {
      margin: 0 10px;
      flex-direction: column-reverse;
      gap: 13px;
      .left-container {
        .bottom {
          flex-direction: column-reverse;
        }
        .wats {
          text-align: center;
        }
        .header {
          h1 {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            /* or 30px */

            font-feature-settings: "pnum" on, "lnum" on;

            /* black */

            color: #2a2e33;
            max-width: 300px;
            br {
              display: none;
            }
          }
        }
      }
      .right-container {
        img {
          width: 320px;
        }
      }
    }
  }
  .bistroe_odobrenie {
    .item {
      padding: 20px;
      .top_info {
        flex-direction: column;
        .wrapper_btn {
          flex-direction: column;
          gap: 10px;
          .btn-default {
            width: 260px;
            display: flex;
            justify-content: center;
          }
        }
        .text {
          width: 260px;
          p {
            display: none;
          }
          .title {
            br {
              display: none;
            }
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            /* or 31px */

            font-feature-settings: "pnum" on, "lnum" on;

            /* black */

            color: #2a2e33;
            max-width: 260px;
            margin-left: 15px;
          }
        }
      }
      .bottom_info {
        .item_bottom {
          flex-direction: column;
          gap: 20px;
          span {
            max-width: 260px;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */

            text-align: center;
            font-feature-settings: "pnum" on, "lnum" on;

            /* black */

            color: #2a2e33;
          }
        }
      }
      .text_adaptiv {
        text-align: center;
        display: block;
        margin-top: 20px;
        span {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 180%;
          /* or 25px */

          text-align: center;
          font-feature-settings: "pnum" on, "lnum" on;

          /* gray */

          color: #aba3bc;
          max-width: 260px;
        }
      }
    }
  }
  .online_oformlenie {
    margin-bottom: 510px;
    .block {
      padding: 30px 20px 30px 20px;
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
      }
      .title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        /* or 31px */

        font-feature-settings: "pnum" on, "lnum" on;

        /* black */

        color: #2a2e33;
      }
      .wrapper_inputs {
        flex-direction: column;
        gap: 20px;
        .left_content {
          width: 100%;
          gap: 35px;
          .item {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
            .delete_file {
              display: none;
              .item {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
            }
            .btn_file_docs_dec {
              display: none;
            }
            .docs {
              display: none;
            }
            .btn_file {
              display: none;
            }
            .btn_file_docs {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-family: "Gilroy";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.015em;
                font-feature-settings: "pnum" on, "lnum" on;

                /* white */

                color: #ffffff;
              }
            }
            .docs_text {
              margin-top: 10px;
              display: flex;
              align-items: center;
              gap: 10px;
              span {
                font-family: "Raleway";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 180%;
                /* identical to box height, or 29px */

                font-feature-settings: "pnum" on, "lnum" on;

                /* black */

                color: #2a2e33;
              }
            }
          }
        }
      }
      .bottom_info {
        flex-direction: column;
        gap: 20px;
        .wrapp_btn {
          .btn{
            width: 250px;
            span{
              min-width: 210px;
            }
          }
          .sogl {
            width: 260px;
            br {
              display: none;
            }

            font-family: "Raleway";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            /* or 18px */

            text-align: right;
            font-feature-settings: "pnum" on, "lnum" on;

            /* gray */

            color: #aba3bc;
            text-align: right;
          }
          .btn {
            display: flex;
            justify-content: center;
            padding: 20px 29px;
            span {
              font-family: "Gilroy";
              font-style: normal;
              font-weight: 800;
              font-size: 16px;
              line-height: 20px;
              /* identical to box height */

              display: flex;
              align-items: center;
              text-align: center;
              letter-spacing: 0.015em;
              font-feature-settings: "pnum" on, "lnum" on;

              /* white */

              color: #ffffff;
            }
          }
        }
        .sub_title {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;
          /* or 30px */

          font-feature-settings: "pnum" on, "lnum" on;

          /* black */

          color: #2a2e33;
          max-width: 260px;
        }
      }
    }
  }
  .odobryaem {
    .title {
      max-width: 300px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      /* or 30px */

      font-feature-settings: "pnum" on, "lnum" on;

      /* black */

      color: #2a2e33;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 180%;
    }
    .wrapper {
      .item {
        img {
          width: 300px;
        }
      }
    }
  }
  .conditions {
    .right-container {
      flex-direction: column-reverse;
    }
  }
  .credit_15_mins {
    margin-bottom: 80px;
    .item {
      padding: 40px 20px 30px 20px;
      flex-direction: column;
      .left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 150%;
          /* or 42px */

          text-align: center;
          font-feature-settings: "pnum" on, "lnum" on;

          /* white */
          max-width: 260px;
          color: #ffffff;
        }
      }
      .right {
        width: 100%;
        p {
          font-size: 12px;
          text-align: right;
          br {
            display: none;
          }
        }
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .btn {
            width: 100%;
            justify-content: center;
          }
          .number_input {
            max-width: 280px;
          }
        }
      }
    }
  }
  .articles_main{
    .sub_title_2{
      font-size: 24px;
    }
    .items{
      flex-direction: column;
      align-items: start;
    }
    img{
      width: 300px;
    }
  }
  .oglavlenie{
    .block{
      width: 300px;
      .sub_3{
        font-size: 20px;
      }
    }
  }
  .article_text{
    .container{
      p{
        font-size: 14px;
      }
      .sub_title_2{
        font-size: 24px;
      }
      .sub_title_3{
        font-size: 20px;
      }
      .sub_title_4{
        font-size: 16px;
      }
      img{
        width: 300px;
      }
    }

  }
  .table{
    .sub_title_2{
      font-size: 20px;
    }
    .block{
      .items{
        .item_top{
          width: 148px;
          justify-content: center;
          span{
            margin: 0;
            font-size: 20px;
          }
        }
        .item{
          width: 148px;
        }
      }
    }
  }
  .list{
    .block{
      .block_item{
        padding: 30px 20px;
        flex-direction: column;
        gap: 32px;
        align-items: start;
        span{
          font-size: 14px;
        }
      }

    }
  }

  .section_1{
    .logos{
      display: none;
      margin-top: 80px;
    }
    .slider_adaptiv_partners{
      margin-top: 80px;
      margin-bottom: 80px;
      display: block;
    }
  }
  .adaptiv_sec{
    .logos{
      margin: 0;
    }
  }
  .section_6 {
    .about_us {
      .sub_title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */

        text-align: center;
        font-feature-settings: "pnum" on, "lnum" on;

        /* black */

        color: #2a2e33;
        max-width: 280px;
      }
      .items {
        padding: 30px 10px;
        .item_txt {
          padding: 22px;
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            max-width: 206 px;
          }
        }
      }
    }
  }
  .slider {
    max-height: 850px;
    .btn_slide_hide {
      display: none;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
      button {
        background: #e5e8ee;
        border-radius: 20px;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    #slider {
      ul {
        overflow: visible;
        width: 100%;
        margin: 0;
        li {
          width: 300px;
          height: auto;
          padding: 20px;
          flex-direction: column;
          img {
            width: 260px;
            height: 188px;
          }
        }
      }
    }
    .container {
    }
    .wrapper {
      position: relative;
      flex-direction: column;
      img {
        width: 300px;
      }
      .left_content {
        .sub_title {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 130%;
          /* or 31px */

          font-feature-settings: "pnum" on, "lnum" on;

          /* black */

          color: #2a2e33;
          max-width: 300px;
        }
        .btn_wrapper {
          display: none;
          position: absolute;

          top: 822px;
          left: 81px;
        }
        .top_m {
          position: absolute;
          top: 900px;
        }
      }
    }
  }
  .mt_6 {
    margin-top: 120px;
  }

  .slider_2 {
    .wrapper_dots_btn {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      .dosts_slider {
        display: flex;
        gap: 5px;
        align-items: center;
        .dot_slide_2 {
          cursor: pointer;
          height: 5px;
          width: 5px;
          margin: 0 2px;
          background-color: #aba3bc;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
          &:hover {
            width: 10px;
            height: 10px;
            background: linear-gradient(
              100.92deg,
              #a259ff 13.57%,
              #ff6250 97.65%
            );
          }
        }
        .active {
          width: 10px;
          height: 10px;
          background: linear-gradient(
            100.92deg,
            #a259ff 13.57%,
            #ff6250 97.65%
          );
        }
      }
      button {
        width: 70px;
        height: 70px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
        span {
          background: linear-gradient(
            100.92deg,
            #a259ff 13.57%,
            #ff6250 97.65%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }
  .about_main{
    .block{
      padding: 30px 26px;
      border-radius: 30px;
      flex-direction: column;
      align-items: center;
      .left{
        .sub_title_2{
          font-size: 20px;
        }
      }
      .right{
        .img_abs{
          position: inherit;
          width: 360px;
          margin-bottom: -92px;
          margin-left: 52px;
        }
      }
    }
  }
  .mr_80{
    margin-right: 80px;
  }
  .conditions-links{
    .container{
      display: flex;
      flex-wrap: wrap;

    }
  }
  .news_main{
    .sub_title_2{
      font-size: 24px;
      width: 300px;
      margin-bottom: 20px;
    }
    img{
      width: 300px;
      margin-bottom: 20px;
    }
    p{
      font-size: 14px;
      max-width: 300px;
    }
  }

  .news_links{
    margin-bottom: 80px;
    .block{
      flex-direction: column;
      gap: 10px;
      align-items: start;
    }
  }
  .works{
    margin-top:10px;
  }
  .spetion{
    .block{
      padding: 0;
      gap: 40px;
      .item{
        flex-direction: column;
        align-items: center;
        span{
          width: 300px;
          text-align: center;
        }
      }
    }
  }
  .img_apd{
    position: absolute;
    width: 250px;
    top: 337px;
    left: 56px;
  }
  .vida4a_pod_zalog_kv{
    .item{
      padding: 41px 10px 30px 10px;
      .top{
        flex-direction: column;
        align-items: flex-start;
        .sub_title{
          font-size: 20px;
        }
      }
    }
  }
  .refinansiryem{
    .sub_title{
      font-size: 20px;
    }
    .items{
      padding: 30px 10px 30px 12px;
    }
  }
  .zaimi_pod_zalog {
    .items {
      gap: 40px;
      .item {
        flex-direction: column;
        gap: 10px;
        .info {
          margin: 0;
          span {
            width: 300px;
          }
        }
        .left {
          width: 300px;
          img {
            width: 300px;
          }
        }
        .right {
          width: 300px;
        }
      }
    }
  }

  .mt_7 {
    margin-top: 200px;
  }

  .tak_predlog {
    .items {
      justify-content: center;
    }
  }
}
.phoneInput {
  font-size: 20px;
}


