@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_sec_1 {
  background-image: url("/img/bg/bg_sec_1.svg");
  background-size: cover;
}

input {
  outline: none;
  border: none;
}

body {
  background: #eceff4;
  overflow-x: hidden;
}

datalist {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.range-style {
  background: red;
}

#tickmarks option {
  display: inline;
  width: 10px;
  font-size: 12px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.input {
  padding: 14px 25px 14px 25px;
  background: linear-gradient(86.42deg, #ffffff 0%, #f6f3ff 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.input span {
  font-family: "Gilroy";
  color: #2a2e33;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 180%;
}
.input input {
  font-family: "Gilroy";
  border: none;
  outline: none;
  background: transparent;
}
.input input::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.btn {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 19px 35px 19px 36px;
  background: #2a2e33;
  border-radius: 20px 20px 20px 1px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.btn span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.btn-green {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 19px 35px 19px 36px;
  border-radius: 20px 20px 20px 1px;
  cursor: pointer;
  background: #45ba51;
  transition: 0.3s;
}
.btn-green:hover {
  background: #82ce8a;
}
.btn-green span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.btn-default {
  padding: 19px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2e33;
  border-radius: 20px;
  gap: 11px;
  cursor: pointer;
}
.btn-default:hover {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  border-radius: 20px;
}
.btn-default span {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 115%;
  /* or 67px */
  letter-spacing: -0.01em;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.title span {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%), #2e323d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.sub_title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 115%;
  /* or 52px */
  letter-spacing: -0.01em;
  /* black */
  color: #2a2e33;
  z-index: 10;
}
.sub_title span {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%), #2e323d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #ffffff;
  border-radius: 20px;
  width: 400px;
  z-index: 1;
  margin-top: 30px;
  padding: 20px 0 20px 20px;
}
.dropdown-content a {
  position: relative;
  font-family: "Raleway";
  font-size: 15px;
  line-height: 180%;
  color: #2a2e33;
  transition: 0.3s;
  text-decoration: none;
}
.dropdown-content a:hover {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.dropdown-content a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 3px; /*задаём ширину линии*/
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  content: "";
  transition: width 0.3s ease-out;
  border-radius: 10px; /*задаём время анимации*/
}
.dropdown-content a:hover:after, .dropdown-content a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.showDrop {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header_contacts {
  padding: 16px 0;
  background: #2a2e33;
}
.header_contacts .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_contacts .wrapper .info_left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header_contacts .wrapper .info_left .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_contacts .wrapper .info_left .item span {
  font-family: "Raleway", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  color: #e5e8ee;
}
.header_contacts .wrapper .info_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_contacts .wrapper .info_right .links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_contacts .wrapper .info_right span {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  color: #e5e8ee;
  font-feature-settings: "pnum" on, "lnum" on;
}

.main_menu {
  margin-top: 18px;
}
.main_menu .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_menu .info {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main_menu .info span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #2a2e33;
}
.main_menu .links {
  display: flex;
  gap: 60px;
}
.main_menu .links .link {
  position: relative;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #2a2e33;
}
.main_menu .links .link:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 3px; /*задаём ширину линии*/
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  content: "";
  transition: width 0.3s ease-out;
  border-radius: 10px; /*задаём время анимации*/
}
.main_menu .links .link:hover:after, .main_menu .links .link:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.secondary_menu .wrapper {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}
.secondary_menu .wrapper .wrapp_item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.secondary_menu .wrapper .item {
  position: relative;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  color: #2a2e33;
  text-decoration: none;
  cursor: pointer;
}
.secondary_menu .wrapper .item:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 3px; /*задаём ширину линии*/
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  content: "";
  transition: width 0.3s ease-out;
  border-radius: 10px; /*задаём время анимации*/
}
.secondary_menu .wrapper .item:hover:after, .secondary_menu .wrapper .item:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.section_1 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_1 .wrapper .img {
  width: 500px;
}
.section_1 .wrapper .info {
  display: flex;
  flex-direction: column;
}
.section_1 .wrapper .info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #2a2e33;
  margin-top: 20px;
}
.section_1 .wrapper .info .form {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.section_1 .wrapper .info .form .input {
  padding: 14px 25px 14px 25px;
  background: linear-gradient(86.42deg, #ffffff 0%, #f6f3ff 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.section_1 .wrapper .info .form .input span {
  font-family: "Gilroy";
  color: #2a2e33;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 180%;
}
.section_1 .wrapper .info .form .input input {
  border: none;
  outline: none;
  background: transparent;
}
.section_1 .wrapper .info .form .input input::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.section_1 .wrapper .info .form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 35px 19px 36px;
  background: #2a2e33;
  border-radius: 20px 20px 20px 1px;
  cursor: pointer;
}
.section_1 .wrapper .info .form .btn:hover {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.section_1 .wrapper .info .form .btn span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.section_1 .logos {
  margin-top: 170px;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 80px;
  justify-content: space-between;
}
.section_1 .logos img {
  opacity: 0.3;
}
.section_1 .benefits {
  padding: 40px 95px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 143px;
}
.section_1 .benefits .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.section_1 .benefits .item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  max-width: 186px;
}

.section_2 .item {
  margin-bottom: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.section_2 .item .item_right {
  align-items: end;
}
.section_2 .item .info {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.section_2 .item .info .ta-end {
  text-align: end;
}
.section_2 .item .info .benefits_cards {
  position: absolute;
  top: 331px;
  right: 600px;
}
.section_2 .item .info .benefits_1 {
  position: absolute;
  top: 225px;
  right: 635px;
}
.section_2 .item .info .benefits_cards_1 {
  position: absolute;
  left: 574px;
  top: 207px;
}
.section_2 .item .info .folder_house {
  position: absolute;
  left: 307px;
  top: -20px;
}
.section_2 .item .info .folder_house_2 {
  position: absolute;
  top: -100px;
  left: 250px;
}
.section_2 .item .info .mdi_shield-car {
  position: absolute;
  top: -64px;
  right: 197px;
}
.section_2 .item .info .btn-default {
  width: 200px;
  z-index: 10;
}
.section_2 .item .info .spisok {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section_2 .item .info .spisok .item_spisok {
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 10;
}
.section_2 .item .info .spisok .item_spisok span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #2a2e33;
  text-decoration: underline;
  cursor: pointer;
}
.section_2 .item .info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 20px;
  z-index: 10;
}

.section_3 {
  margin-bottom: 120px;
}
.section_3 .steps {
  position: relative;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50px;
  padding: 65px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section_3 .steps .line {
  position: absolute;
  top: 93px;
  left: 93px;
  z-index: -1000;
}
.section_3 .steps .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 8;
}
.section_3 .steps .item .img {
  border-radius: 25px;
}
.section_3 .steps .item img {
  z-index: 20;
  width: 100px;
  opacity: 1;
  backdrop-filter: none;
}
.section_3 .steps .item .info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.section_3 .steps .item .info img {
  width: 20px;
}
.section_3 .steps .item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 115%;
  /* or 25px */
  max-width: 162px;
  text-align: center;
  letter-spacing: -0.01em;
  z-index: 20;
  /* black */
  color: #2a2e33;
}

.section_4 {
  background: url("/img/bg/bg_sec_4.svg");
  height: 758px;
  background-size: cover;
}
.section_4 .sub_title {
  margin-bottom: 50px;
}
.section_4 .calculator {
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 50px;
}
.section_4 .calculator .wrapper_items {
  display: flex;
  justify-content: space-between;
}
.section_4 .calculator .wrapper_items .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section_4 .calculator .wrapper_items .item .summ {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section_4 .calculator .wrapper_items .item .summ span {
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #2a2e33;
}
.section_4 .calculator .wrapper_items .item .summ .summ_box {
  background: linear-gradient(90deg, #eae0ea 0%, #ebebef 100%);
  border-radius: 20px;
  display: flex;
  gap: 56px;
  align-items: center;
  padding: 15px 25px;
}
.section_4 .calculator .wrapper_items .item .summ .summ_box span {
  color: #2a2e33;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
}
.section_4 .calculator .wrapper_items .item .summ .summ_box p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #aba3bc;
  letter-spacing: 0.015em;
}
.section_4 .calculator .wrapper_items .item .wrapper {
  position: relative;
  z-index: 5;
  width: 500px;
}
.section_4 .calculator .wrapper_items .item .wrapper datalist {
  margin-top: 10px;
  position: absolute;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.section_4 .calculator .wrapper_items .item .wrapper option {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #aba3bc;
  /* identical to box height, or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
}
.section_4 .calculator .wrapper_items .item .wrapper .slider_2 {
  position: inherit;
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  /*     background: #1B2FB2; */
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 12px 0px 5px 0px;
  cursor: pointer;
  z-index: 100;
}
.section_4 .calculator .wrapper_items .item .wrapper .progress {
  position: absolute;
  content: "";
  width: 25%;
  height: 10px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  top: 50%;
  border-radius: 20px;
}
.section_4 .calculator .wrapper_items .item .wrapper .slider_2:hover {
  opacity: 1;
}
.section_4 .calculator .wrapper_items .item .wrapper .slider_2::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  /* white */
  border: 10px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(14, 30, 54, 0.1);
  z-index: 100000;
  margin-top: -20px;
}
.section_4 .calculator .line {
  width: 1040px;
  height: 1px;
  background: #dad3e8;
  border-radius: 20px;
  margin-top: 80px;
}
.section_4 .calculator .predlojeniya {
  margin-top: 20px;
}
.section_4 .calculator .predlojeniya .wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_4 .calculator .predlojeniya .soglasie {
  width: 1040px;
  display: flex;
  justify-content: end;
}
.section_4 .calculator .predlojeniya .soglasie div {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #aba3bc;
  margin-top: 10px;
  max-width: 310px;
  text-align: right;
}
.section_4 .calculator .predlojeniya h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_4 .calculator .predlojeniya .info {
  display: flex;
  gap: 60px;
  align-items: end;
}
.section_4 .calculator .predlojeniya .info .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section_4 .calculator .predlojeniya .info .item .proz {
  display: flex;
  gap: 10px;
  margin: 0;
  text-align: start;
}
.section_4 .calculator .predlojeniya .info .item .proz span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #a259ff;
}
.section_4 .calculator .predlojeniya .info .item a {
  margin: 0;
}
.section_4 .calculator .predlojeniya .info .item .number_input {
  margin: 0;
}
.section_4 .calculator .predlojeniya .info span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* gray */
  color: #aba3bc;
}
.section_4 .calculator .predlojeniya .item {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.section_4 .calculator .predlojeniya .item .number_input {
  margin-left: 46px;
}
.section_4 .calculator .predlojeniya .item .price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  letter-spacing: 0.015em;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_4 .calculator .predlojeniya .item .proz {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  letter-spacing: 0.015em;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-left: 81px;
  color: #a259ff;
}
.section_4 .calculator .predlojeniya .item a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: 15px;
  /* identical to box height */
  letter-spacing: 0.015em;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;
  /* gray */
  color: #aba3bc;
}
.section_4 .calculator .predlojeniya .item .input {
  background: linear-gradient(90deg, #ecedf3 0%, #ece6eb 100%);
  margin-left: 46px;
}
.section_4 .calculator .predlojeniya .item .btn {
  margin-left: 16px;
}
.section_4 .predvaritel {
  margin-top: 10px;
  margin-left: 60px;
}
.section_4 .predvaritel span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #70697d;
}
.section_4 .wrapper_1 {
  position: relative;
  z-index: 5;
  width: 500px;
}
.section_4 .wrapper_1 datalist {
  margin-top: 10px;
  position: absolute;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.section_4 .wrapper_1 option {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #aba3bc;
  /* identical to box height, or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
}
.section_4 .wrapper_1 .slider_1 {
  position: inherit;
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  /*     background: #1B2FB2; */
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 12px 0px 5px 0px;
  cursor: pointer;
  z-index: 100;
}
.section_4 .wrapper_1 .progress_1 {
  position: absolute;
  content: "";
  width: 60%;
  height: 10px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  top: 45%;
  border-radius: 20px;
}
.section_4 .wrapper_1 .slider_1:hover {
  opacity: 1;
}
.section_4 .wrapper_1 .slider_1::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  /* white */
  border: 10px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(14, 30, 54, 0.1);
  margin-top: -20px;
  z-index: 100000;
}

.section_6 {
  margin-bottom: 120px;
  margin-top: 120px;
}
.section_6 .about_us {
  padding: 90px 100px;
  background: #e5e8ee;
  border-radius: 50px;
}
.section_6 .about_us .sub_title {
  text-align: center;
}
.section_6 .about_us .text {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.section_6 .about_us .text p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_6 .about_us .items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section_6 .about_us .items .item_txt {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 20px 26px;
  box-shadow: 0px 10px 30px rgba(18, 27, 40, 0.1);
}
.section_6 .about_us .items .item_txt span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_6 .about_us .items .item {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 26px;
  box-shadow: 0px 10px 30px rgba(18, 27, 40, 0.1);
  border: 1px solid #fff;
}
.section_6 .about_us .items .item .text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_6 .about_us .items .item .top {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section_6 .about_us .items .item .top span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  /* or 32px */
  letter-spacing: -0.01em;
  /* black */
  color: #2a2e33;
}
.section_6 .about_us .items .item p {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* main */
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.section_7 .item {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.section_7 .item .top {
  display: flex;
  align-items: center;
  gap: 25px;
}
.section_7 .item .wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}
.section_7 .item .wrapper .left {
  position: relative;
  padding: 30px 27px 52px 40px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  border-radius: 30px;
}
.section_7 .item .wrapper .left .btn-default {
  position: absolute;
  left: 250px;
  top: 283px;
  width: 320px;
}
.section_7 .item .wrapper .left p {
  width: 530px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* white */
  color: #ffffff;
}
.section_7 .item .wrapper .right p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_7 .item .wrapper .right p span {
  color: #aba3bc;
}

.fin-support {
  background-image: url("/img/bg/bg_sec_5.svg");
  background-size: cover;
  margin-top: 120px;
  margin-bottom: 120px;
}
.fin-support .content {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.fin-support .content .header {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 115%;
  letter-spacing: -0.01em;
  color: #2a2e33;
}
.fin-support .content .header span {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.fin-support .content .item {
  height: 280px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  padding: 30px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  max-width: 360px;
  min-height: 230px;
  box-shadow: 0px 10px 40px rgba(18, 27, 40, 0.1);
}
.fin-support .content .item:hover {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.fin-support .content .item:hover img {
  display: none;
}
.fin-support .content .item:hover .btn img {
  display: block;
}
.fin-support .content .item:hover p {
  color: #ffffff;
}
.fin-support .content .item img {
  max-width: 100px;
  max-height: 100px;
}
.fin-support .content .item p {
  color: #2a2e33;
}
.fin-support .content .item span {
  color: #ffffff;
}
.fin-support .content .last {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  box-shadow: 0px 10px 40px rgba(197, 92, 189, 0.6);
}
.fin-support .content .last p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  /* or 41px */
  text-align: center;
  letter-spacing: -0.01em;
  /* white */
  color: #ffffff;
}
.fin-support .content .text-container {
  background: #e5e8ee;
  border-radius: 30px;
  padding: 35px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #2a2e33;
  max-width: 760px;
}
.fin-support .content .txt_container {
  background: #e5e8ee;
  border-radius: 30px;
  padding: 35px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #2a2e33;
}
.fin-support .content .txt_container p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.fin-support .content .text-container-bottom {
  background: #e5e8ee;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2a2e33;
  padding: 40px 40px 40px 50px;
  width: 100%;
}

.section_8 {
  background-image: url("/img/bg/bg_message.svg");
  background-size: cover;
  margin-top: 150px;
  margin-bottom: 120px;
}
.section_8 .item {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.section_8 .item .right {
  position: relative;
}
.section_8 .item .right .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(236, 239, 244, 0) 63.76%, #eceff4 85.66%);
  z-index: 1000;
  pointer-events: none;
}
.section_8 .item .left p {
  margin-top: 300px;
  width: 360px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_8 .item .left .btn {
  width: 292px;
  margin-top: 45px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  border-radius: 20px 20px 20px 1px;
}
.section_8 .item .messages {
  position: relative;
  padding-right: 20px;
  height: 600px;
  overflow-y: scroll; /* прокрутка по вертикали */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section_8 .item .messages::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
.section_8 .item .messages::-webkit-scrollbar-thumb {
  background: #aba3bc;
  border-radius: 20px;
}
.section_8 .item .messages .wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section_8 .item .messages .wrapper .you {
  margin-left: 143px;
  width: 500px;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px 20px 0px 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_8 .item .messages .wrapper .me {
  width: 625px;
  padding: 20px 30px;
  background: #2a2e33;
  border-radius: 20px 20px 20px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}
.section_8 .item .messages .wrapper .me span {
  color: #777777;
}

.footer {
  padding-top: 20px;
  padding-bottom: 60px;
  background: #2a2e33;
  margin-top: 120px;
}
.footer .item .top {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .item .top .logo_footer {
  display: flex;
  align-items: center;
  gap: 26px;
}
.footer .item .top .logo_footer span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #aaaaaa;
}
.footer .item .top .links {
  display: flex;
  align-items: center;
  gap: 60px;
}
.footer .item .top .links a {
  position: relative;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  text-align: right;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #aaaaaa;
}
.footer .item .top .links a:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 3px; /*задаём ширину линии*/
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  content: "";
  transition: width 0.3s ease-out;
  border-radius: 10px; /*задаём время анимации*/
}
.footer .item .top .links a:hover:after, .footer .item .top .links a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.footer .item .middle .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .item .middle .wrapper .info_left {
  display: flex;
  gap: 58px;
}
.footer .item .middle .wrapper .info_left .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .item .middle .wrapper .info_left .item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #aaaaaa;
}
.footer .item .middle .wrapper .info_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .item .middle .wrapper .info_right .links {
  display: flex;
  gap: 15px;
}
.footer .item .middle .wrapper .info_right .links a {
  text-decoration: none;
}
.footer .item .middle .wrapper .info_right span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #aaaaaa;
}
.footer .item .bottom {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .item .bottom span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  width: 744px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #5c6065;
}

.number_input {
  padding: 14px 25px;
  background: #ffffff;
  border-radius: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #aba3bc;
  mix-blend-mode: normal;
  max-width: 240px;
}

.section_message_mobile {
  display: none;
  margin-top: 120px;
  margin-bottom: 100px;
  /* Скрыть изображения по умолчанию */
  /* Вперед иназад кнопки */
  /* Точки/пули/индикаторы */
  /* Исчезающая анимация */
}
.section_message_mobile .slideshow-container {
  margin-top: 30px;
  max-width: 300;
  margin: auto;
}
.section_message_mobile .item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section_message_mobile .item_you {
  padding: 20px;
  background: #2a2e33;
  border-radius: 20px 20px 20px 0px;
}
.section_message_mobile .item_you span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}
.section_message_mobile .item_you span p {
  color: #777777;
}
.section_message_mobile .wrapper_dots_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.section_message_mobile .wrapper_dots_btn div {
  display: flex;
  align-items: center;
}
.section_message_mobile .item_me {
  padding: 20px;
  border-radius: 20px 20px 0px 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
}
.section_message_mobile .item_me span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  width: 260px;
  /* or 24px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.section_message_mobile .mySlides {
  display: none;
}
.section_message_mobile .prev,
.section_message_mobile .next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  width: 70px;
  height: 70px;
}
.section_message_mobile .prev span,
.section_message_mobile .next span {
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section_message_mobile .dot,
.section_message_mobile .dot_slide_2 {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #aba3bc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.section_message_mobile .active {
  width: 10px;
  height: 10px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.section_message_mobile .dot:hover {
  width: 10px;
  height: 10px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.section_message_mobile .dot_slide_2:hover {
  width: 10px;
  height: 10px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.section_message_mobile .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.adaptiv_header {
  display: none;
}

.sub_hidden {
  display: none;
}

.rigth_image {
  width: 595px;
}

.zaimi_pod_zalog {
  margin-bottom: 120px;
}
.zaimi_pod_zalog .items {
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.zaimi_pod_zalog .items .item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.zaimi_pod_zalog .items .item .info {
  margin-left: 40px;
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.zaimi_pod_zalog .items .item .info span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* gray */
  color: #aba3bc;
  width: 411px;
}
.zaimi_pod_zalog .items .item .left {
  border-radius: 20px;
}
.zaimi_pod_zalog .items .item .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 220px;
  padding: 20px;
  background: #e5e8ee;
  border-radius: 20px;
}
.zaimi_pod_zalog .items .item .right .hover_item {
  display: none;
}
.zaimi_pod_zalog .items .item .right .txt_hover {
  display: none;
}
.zaimi_pod_zalog .items .item .right span {
  width: 224px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.zaimi_pod_zalog .items .item .right .txt p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
}
.zaimi_pod_zalog .items .item .right .txt span {
  font-size: 28px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.zaimi_pod_zalog .items .item .right:hover {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
}
.zaimi_pod_zalog .items .item .right:hover span {
  display: none;
}
.zaimi_pod_zalog .items .item .right:hover .txt {
  display: none;
}
.zaimi_pod_zalog .items .item .right:hover .hover_item {
  display: block;
}
.zaimi_pod_zalog .items .item .right:hover .txt_hover {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* white */
  color: #ffffff;
}

.conditions .items-container .text {
  margin: 20px 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  /* identical to box height, or 45px */
  letter-spacing: -0.01em;
  /* black */
  color: #2a2e33;
}

.fin-support .sub_title {
  margin-bottom: 50px;
}
.fin-support .content .item_txt {
  padding: 34px 40px;
  background: #e5e8ee;
  border-radius: 30px;
}
.fin-support .content .item_txt span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2a2e33;
  width: 681px;
}

.block_1_absolute {
  position: absolute;
  top: 200px;
  left: 300px;
}

.pod_zalog_kv_sec_6 .items {
  display: flex;
  flex-wrap: wrap;
}
.pod_zalog_kv_sec_6 .items .item_txt {
  padding: 22px;
}
.pod_zalog_kv_sec_6 .items .item_txt span {
  max-width: 376px;
}

.fz_36 {
  font-size: 36px;
  width: 1143px;
}

.refinansiryem {
  margin-bottom: 120px;
}
.refinansiryem .sub_title {
  font-size: 36px;
  margin-bottom: 50px;
}
.refinansiryem .items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  padding: 35px 80px;
  background: #E5E8EE;
  border-radius: 50px;
}
.refinansiryem .items .item {
  width: 460px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.refinansiryem .items .item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}

.vida4a_pod_zalog_kv {
  margin-bottom: 120px;
}
.vida4a_pod_zalog_kv .item {
  padding: 41px 60px 50px 60px;
  background: #E5E8EE;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.vida4a_pod_zalog_kv .item .top {
  display: flex;
  gap: 32px;
  align-items: center;
}
.vida4a_pod_zalog_kv .item .top .sub_title {
  font-size: 36px;
}
.vida4a_pod_zalog_kv .item .bottom p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}

/*# sourceMappingURL=main.css.map */
