.map {
  margin-bottom: 50px;
  .container {
    max-width: 1160px;
    margin: 0 auto;
    .map-container {
      border-radius: 30px;
    }
  }
}

.phone-numbers {
  margin-bottom: 80px;
  .container {
    max-width: 1160px;
    margin: 0 auto;
    .text-container {
      margin-bottom: 20px;
      p {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 180%;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #aba3bc;
      }
    }
    .numbers-container {
      display: flex;
      gap: 50px;
      .number {
        display: flex;
        align-items: center;
        gap: 14px;
        img {
          max-width: 36px;
          max-height: 36px;
        }
        p {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          align-items: center;
          font-feature-settings: "pnum" on, "lnum" on;
          background: linear-gradient(
            100.92deg,
            #a259ff 13.57%,
            #ff6250 97.65%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.contact-buttons {
  margin-bottom: 120px;
  .container {
    display: flex;
    gap: 40px;
    max-width: 1160px;
    margin: 0 auto;
    .buttons-container {
      display: flex;
      gap: 40px;
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        &:hover {
          border-radius: 20px;
        }
      }
    }
    .email-container {
      p {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 180%;
        display: flex;
        align-items: center;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #aba3bc;
      }
    }
  }
}
