@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

#slider {
  background: #ECEFF4;
  ul {
    width: 1160px;
    position: relative;
    margin: -100px 0 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 248px;
    li {
      position: relative;
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: center;
      float: left;
      margin: 0;
      margin-left: 20px;

      padding: 0;
      width: 669px;
      height: 248px;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(15px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 40px;
      img{
        width: 292px;
        height: 188px;
      }
      span{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 125%;
        /* identical to box height, or 45px */

        letter-spacing: -0.01em;

        /* main */

        background: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        /* identical to box height, or 29px */

        font-feature-settings: 'pnum' on, 'lnum' on;

        /* black */

        color: #2A2E33;
        margin-top: 10px;
      }
    }
  }
  position: relative;
  .wrapper{
    margin: 0 0 30px 0;
    display: flex;
    gap: 30px;
    .left_content{
      display: flex;
      flex-direction: column;
      gap: 136px;
      .sub_title{
        width: 500px;
      }
      .btn_wrapper{
        display: flex;
        gap: 10px;
        button{
          width: 70px;
          height: 70px;
          background: #E5E8EE;
          border-radius: 20px;
        }
      }
    }
  }

}

.mt_6{
  margin-top: 550px;
}

.slider_2{
  margin-top: 120px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  .wrapper_btn{
    top: 311px;
    left: 821px;
    position: absolute;
    display: flex;
    gap: 10px;
    button{
      padding: 29px 32px;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 20px;
    }
  }
}

/* Скрыть изображения по умолчанию */
.mySlides {
  display: none;
}


/* Вперед иназад кнопки */
.prev, .next {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

/* Положение "next кнопки" справа */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с немного прозрачным */

/* Подпись текст */

/* Номер текста (1/3 и т.д.) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Точки/пули/индикаторы */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Исчезающая анимация */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dots{
  display: none;
}