.fin-support {
  .content {
    .text-container {
      width: 100%;
      max-width: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .main-section {
    margin-bottom: 100px;
    .content {
      .left-container {
        ul {
          li {
            align-items: flex-start;
            img {
              margin-top: 2px;
            }
          }
        }
        .bottom {
          gap: 10px;
          .btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }
      }
    }
  }
}
