@charset "UTF-8";
.overlay {
  /* Высота и ширина зависят от того, как вы хотите показать наложение (см. JS ниже) */
  height: 100%;
  width: 0;
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  transition: 0.5s; /* 0.5 секунды эффект перехода, чтобы скользить в или скользить вниз по наложению (высота или ширина, в зависимости от показа) */
}

/* Расположите содержимое внутри наложения */
.overlay-content {
  margin-top: 20px;
}
.overlay-content .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.overlay-content .top {
  display: flex;
  align-items: center;
  gap: 40px;
}
.overlay-content .top .wrapper {
  display: flex;
  align-items: center;
  gap: 26px;
}
.overlay-content .top .wrapper span {
  width: 143px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}
.overlay-content .top img {
  cursor: pointer;
}
.overlay-content .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.overlay-content .links .link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
  /* or 43px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}
.overlay-content .line {
  width: 100%;
  height: 1px;
  background: #CCCCCC;
}
.overlay-content .secondary_menu .wrapper {
  gap: 20px;
  padding: 0;
  flex-direction: column;
}
.overlay-content .secondary_menu .wrapper .item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  /* identical to box height, or 27px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}
.overlay-content .secondary_menu .dropdown-content {
  display: none;
  flex-direction: column;
  gap: 20px;
  position: inherit;
  margin: 0;
}
.overlay-content .secondary_menu .dropdown-content .item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}
.overlay-content .secondary_menu .show {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}
.overlay-content .bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.overlay-content .bottom .item_phone {
  margin-left: 28px;
}
.overlay-content .bottom .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.overlay-content .bottom .item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}
.overlay-content .bottom .item p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* gray */
  color: #ABA3BC;
}

/* Навигационные ссылки внутри наложения */
.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Блок дисплея вместо встроенного */
  transition: 0.3s; /* Эффекты перехода при наведении (цвет) */
}

/* При наведении курсора мыши на навигационные ссылки измените их цвет */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Расположите кнопку закрыть (верхний правый угол) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.open_menu {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.open_menu img {
  cursor: pointer;
}
.open_menu .wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.open_menu .wrapper span {
  width: 143px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* black */
  color: #2A2E33;
}

/* Если высота экрана меньше 450 пикселей, измените размер шрифта ссылок и снова установите кнопку закрыть, чтобы они не перекрывались */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}/*# sourceMappingURL=menu.css.map */