.about_main{
    .block{
        display:flex;
        background:linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
        background-blend-mode: soft-light, normal;
        border-radius: 50px;
        padding: 65px 60px 129px 65px;
        .left{
            display: flex;
            flex-direction: column;
            gap: 41px;
            .sub_title_2{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 115%;
                /* identical to box height, or 52px */

                letter-spacing: -0.01em;

                /* white */

                color: #FFFFFF;
                span{
                    color: black;
                }  
            }
            p{
                max-width: 514px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 180%;
                /* or 29px */

                font-feature-settings: 'pnum' on, 'lnum' on;

                /* white */

                color: #FFFFFF;
            }
        }
        .right{
            .img_abs{
                position: absolute;
                top: 269px;
                right: 100px;
            }
        }
    }
}
.works{
    margin-top: -80px;
    padding: 0 31px;
    .items{
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        justify-content: center;
        .item{
            padding: 22px;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(15px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .top{
                display: flex;
                align-items: center;
                gap: 22px;
                span{
                    font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 135%;
            /* or 27px */

            font-feature-settings: 'pnum' on, 'lnum' on;

            /* main */

            background: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            max-width: 257px;

                }
            }
            .bottom{
                max-width: 257px;
                margin-left: 48px;

                span{
                    font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 135%;
            /* or 27px */

            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #2A2E33;
                }
            }
                    }
                    }
    }

    .information{
        margin-top: 120px;
        margin-bottom: 120px;
        .block{
            padding: 34px 40px;
            background: #E5E8EE;
            border-radius: 30px;
            p{
                font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 180%;
/* or 29px */

font-feature-settings: 'pnum' on, 'lnum' on;

/* black */

color: #2A2E33;
            }
        }
    }

    .spetion{
        margin-top: 72px;
        .block{
            padding: 0 31px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item{
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    width: 100px;
                }
                span{
                    width: 400px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    font-feature-settings: 'pnum' on, 'lnum' on;

                    color: #000000;
                }
            }
        }
    }

    .news_main{
        .sub_title_2{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 115%;
            letter-spacing: -0.01em;
            color: #2A2E33;
            margin-bottom: 40px;
        }
        img{
            margin-bottom: 70px;
        }
        p{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 220%;
            /* or 35px */

            font-feature-settings: 'pnum' on, 'lnum' on;

            /* black */

            color: #2A2E33;
            max-width: 760px;
            margin-bottom: 60px;
        }
    }
    .news_links{
        margin-bottom: 120px;
        .block{
            display: flex;
            align-items: center;
            gap: 48px;
            span{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 220%;
                /* or 35px */

                font-feature-settings: 'pnum' on, 'lnum' on;

                /* gray */

                color: #ABA3BC;
            }
            .items{
                display: flex;
                align-items: center;
                gap: 25px;
                span{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 220%;
                    /* or 35px */

                    font-feature-settings: 'pnum' on, 'lnum' on;

                    /* black */

                    color: #2A2E33;
                }
            }
        }
    }
    .articles_main{
        p{
            margin: 27px 0;
            max-width: 970px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            /* or 29px */

            font-feature-settings: 'pnum' on, 'lnum' on;

            /* black */

            color: #2A2E33;
        }
        .sub_title_2{
            margin-bottom: 27px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 58px;
            line-height: 115%;
            /* identical to box height, or 67px */

            letter-spacing: -0.01em;
            font-feature-settings: 'pnum' on, 'lnum' on;

            /* black */

            color: #2A2E33;
        }
        .items{
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            gap: 38px;
            span{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 180%;
                /* identical to box height, or 29px */

                font-feature-settings: 'pnum' on, 'lnum' on;

                /* gray */

                color: #ABA3BC;

            }
        }
    }
    .oglavlenie{
        margin-top: 60px;
        .block{
            max-width: 760px;
            padding: 50px 0 60px 60px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(15px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 30px;
            .sub_3{
                margin-bottom: 30px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                /* identical to box height, or 30px */

                display: flex;
                align-items: flex-end;
                font-feature-settings: 'pnum' on, 'lnum' on;

                /* black */

                color: #2A2E33;
            }
            ul{
                list-style: none;
                li,span{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    font-feature-settings: 'pnum' on, 'lnum' on;

                    /* black */

                    color: #2A2E33;
                }
                span{
                    margin-left: 25px;
                }
            }
        }
    }
    .article_text{
        .container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            margin-top: 60px;

            p {
                max-width: 816px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 180%;
                /* or 29px */

                font-feature-settings: 'pnum' on, 'lnum' on;

                /* black */

                color: #2A2E33;
            }

            .sub_title_2 {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 115%;
                /* identical to box height, or 52px */

                display: flex;
                align-items: center;
                letter-spacing: -0.01em;

                /* black */

                color: #2A2E33;
            }

            .sub_title_3 {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 125%;
                /* identical to box height, or 45px */

                display: flex;
                align-items: center;
                letter-spacing: -0.01em;

                /* black */

                color: #2A2E33;
            }
            .sub_title_4{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                /* identical to box height, or 30px */

                display: flex;
                align-items: center;
                font-feature-settings: 'pnum' on, 'lnum' on;

                /* black */

                color: #2A2E33;
            }
            img{
                margin-top: 60px;
                width: 760px;
            }
            span{
                font-family: 'Raleway';
                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                /* identical to box height, or 21px */

                font-feature-settings: 'pnum' on, 'lnum' on;

                /* gray */

                color: #ABA3BC;
                margin-bottom: 60px;
            }
            ol,ul{
                display: flex;
                flex-direction: column;
                gap: 30px;
                li{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    font-feature-settings: 'pnum' on, 'lnum' on;

                    /* black */

                    color: #2A2E33;
                    span{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        color: black;
                    }
                }

            }
            ul{
                list-style-type: disc;
                li{
                    list-style-type: disc;
                }
                margin-bottom: 60px;
            }

        }
    }
    .table{
        .sub_title_2{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            /* identical to box height, or 30px */

            display: flex;
            align-items: center;
            font-feature-settings: 'pnum' on, 'lnum' on;

            /* black */

            color: #2A2E33;
            margin-bottom: 20px;
        }
        .block{
            max-width: 860px;
            display: flex;
            gap: 3px;
            .items{
                display: flex;
                flex-direction: column;
                gap: 3px;

                .item_top{
                    display: flex;
                    align-items: center;
                    width: 433px;
                    height: 66px;
                    border-radius: 30px 0 0px 0px;                    background: linear-gradient(100.92deg, #D8BAFF 13.57%, #FFCCC7 97.65%);
                    span{
                        margin-left: 44px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        /* or 30px */

                        display: flex;
                        align-items: center;
                        font-feature-settings: 'pnum' on, 'lnum' on;

                        /* black */

                        color: #2A2E33;
                    }
                }
                .item_top_reverse{
                    border-radius: 0px 30px 0px 0px;                    background: linear-gradient(100.92deg, #D8BAFF 13.57%, #FFCCC7 97.65%);

                }
                .item{
                    width: 433px;
                    height: 66px;
                    background: #E5E8EE;
                }
                .item_radius{
                    border-radius: 0 0 0 30px;
                }
                .item_radius_2{
                    border-radius: 0 0 30px 0;
                }
            }
        }
    }
    .list{
        margin-top: 60px;
        .block{
            max-width: 860px;
            .sub_title_2{
                margin-bottom: 25px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                /* identical to box height, or 30px */

                font-feature-settings: 'pnum' on, 'lnum' on;

                /* black */

                color: #2A2E33;
            }
            ol,ul{
                li{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    font-feature-settings: 'pnum' on, 'lnum' on;

                    /* black */

                    color: #2A2E33;
                    span{
                        margin-left: 10px;
                    }
                }
            }
            ul{
                li{
                    list-style-type: disc;
                }
            }
            .podspisok{
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 180%;
                        /* or 29px */

                        font-feature-settings: 'pnum' on, 'lnum' on;

                        /* black */

                        color: #2A2E33;
                        list-style-type: circle;
                        margin-left: 40px;

                    }
                }
                margin-top: 40px;
                margin-bottom: 60px;
                display: flex;
                flex-direction: column;
                gap: 22px;
                span{
                    margin-left: 40px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    font-feature-settings: 'pnum' on, 'lnum' on;

                    /* black */

                    color: #2A2E33;
                }
            }
            .block_item{
                margin-bottom: 60px;
                background: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
                border-radius: 30px;
                display: flex;
                align-items: start;
                gap: 25px;
                padding: 40px 50px 50px 35px;
                span{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 220%;
                    /* or 35px */


                    /* white */

                    color: #FFFFFF;
                }
            }

        }
    }